#linkstable { border-collapse:collapse;margin:0;padding:0;position: absolute;top:170px;left:40px;}
#linkstable h4 { margin:0px; padding:0px;}
#linkstable img { float:right;}
#linkstable ul { margin:10px 0 10px 40px; padding:0px;}
#linkstable th { background:#A1A1A1 ; color:#FCFCFC; padding:7px 15px; text-align:left;}
#linkstable td { background:#EBF3FA none repeat-x scroll center left; color:#000; padding:7px 15px; }
#linkstable tr.odd:not(:last-child):hover td{background:#ADD4FF;}
#linkstable tr.odd td { background:#E3E3E3 repeat-x scroll center left; cursor:pointer;border-bottom:solid #C2C2C2 1px;}
#linkstable tr:last-child td{background:#DBDBDB;cursor:auto;border-bottom:none;}
#linkstable div.arrow { background:transparent url(../img/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#linkstable div.up { background-position:0px 0px;}      
A{text-decoration:none}